@import "@assets/css/globals";

.startButton {
    transition: all $set-alarm-transition-duration
                $set-alarm-transition-timing-function;
    transition-property: flex-grow, box-shadow;
}

.startButton__alarmIsArmed,
.startButton__alarmIsFired {
    flex-grow: 2;
    box-shadow: shadow-values(inset), shadow-values();
    z-index: 2;
}

.startButton__alarmIsFired {
    animation-name: blink;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0, 0, 1, 3);

    @keyframes blink {
        from {
            background: black;
            fill: $red1;
            box-shadow: shadow-values(inset);
        }

        to {
            background: $red1;
            fill: black;
            box-shadow: none;
        }
    }
}

