@import "@assets/css/globals";

.changeTimeButton__pressed {
    @include fadein-animation();
}

.changeTimeButton__unpressed {
    @include fadeout-animation();
}

.changeTimeButton__disabled {
    fill: $red2;
    border-color: $red2;
    box-shadow: none;
}

.changeTimeButton__left {
    border-right-width: 0;
}

.changeTimeButton__right {
    border-left-width: 0;
}
