$mobile:      320px;
$extra-small: 480px;
$small:       768px;
$medium:      992px;
$large:       1200px;

$min-clock-font-size: 14rem;

$red1: #ff0000;
$red2: #330000;

$shadow-offset-x: 0;
$shadow-offset-y: 0;
$shadow-blur-radius: 20px;
$shadow-color: rgba(230, 58, 82, 0.3);

@function shadow-values($prefix: "") {
    @return #{$prefix} #{$shadow-offset-x} #{$shadow-offset-y} #{$shadow-blur-radius} #{$shadow-color}
}
