$mobile:      320px;
$extra-small: 480px;
$small:       768px;
$medium:      992px;
$large:       1200px;

$min-clock-font-size: 14rem;

$red1: #ff0000;
$red2: #330000;
$red3: rgba(230, 58, 82, 0.8);

$shadow: 0 0 7px rgba(230, 58, 82, 0.8);
