$mobile:      320px;
$extra-small: 480px;
$small:       768px;
$medium:      992px;
$large:       1200px;

$alarm-width: 36.36rem;

$foreground-color-1: #ff0000;
$foreground-color-2: #330000;
$background-color:   #000000;

$shadow-offset-x: 0;
$shadow-offset-y: 0;
$shadow-blur-radius: 20px;
$shadow-color: rgba(230, 58, 82, 0.3);

@function shadow-values($prefix: "") {
    @return #{$prefix} #{$shadow-offset-x} #{$shadow-offset-y} #{$shadow-blur-radius} #{$shadow-color}
}

@mixin arm-button-press-transition($properties) {
    transition-property: #{$properties};
    transition-duration: 100ms;
    transition-timing-function: linear;
}
