@import "@assets/css/globals";

.controls {
    @include arm-button-press-transition("border-color, box-shadow, fill");

    display: flex;
    user-select: none;
    box-shadow: shadow-values();
}

.controls__alarmClockIsNotIdle {
    box-shadow: none;
}
