@import "@assets/css/globals";

$min-controls-button-size: $min-clock-font-size * 0.15;

.controls {
    display: flex;
    user-select: none;
}

.controls .button {
    flex-grow: 1;
    text-align: center;
    background: black;
    color: $red1;
    box-shadow: inset 0 0 10px $red3, 0 0 10px $red3;
    user-select: none;
}

.controls .button:first-child {
    border: 3px solid $red1;
}

.controls .button:not(:first-child) {
    border: 3px solid $red1;
    border-left-width: 0;
}

.controls .icon {
    width: $min-controls-button-size;
    height: $min-controls-button-size;
    fill: $red1;
    padding: 1rem 0;

    @media screen and (min-width: $extra-small) {
        font-size: $min-controls-button-size * 1.14285;
    }
}
