@import "@assets/css/globals";

$min-controls-font-size: $min-clock-font-size * 0.3;

.controls {
    display: flex;
    position: relative;
}

.controls .button {
    flex-grow: 1;
    box-sizing: border-box;
    outline: 0;
    text-align: center;
    font-family: "Digital";
    font-size: $min-controls-font-size;
    font-weight: 700;
    background: black;
    color: $red1;
    box-shadow: inset 0 0 8px $red3, 0 0 8px $red3;
    user-select: none;

    @media screen and (min-width: $extra-small) {
        font-size: $min-controls-font-size * 1.14285;
    }
}

.controls .button:first-child {
    border: 3px solid $red1;
}

.controls .button:not(:first-child) {
    border: 3px solid $red1;
    border-left-width: 0;
}

#start-button.on {
    background: $red1;
    color: black;
}
