@import "@assets/css/globals";

.ArmButton {
    @include arm-button-press-transition("flex-grow, box-shadow");
}

.ArmButton__isArmed,
.ArmButton__isFired {
    flex-grow: 2;
    box-shadow: shadow-values(inset), shadow-values();
    z-index: 2;
}
