@import "@assets/css/globals";

$font-size: $alarm-width * 0.38;

.clock {
    position: relative;
    font-family: "Digital";
    font-size: $font-size;
    margin-bottom: 20px;

    @media screen and (min-width: $extra-small) {
        font-size: $font-size * 1.14285;
    }
}

.clock_fg {
    position: relative;
    display: inline-block;
    z-index: 1;
    color: $foreground-color-1;
    text-shadow: shadow-values();
}

.clock_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color: $foreground-color-2;
}

.clock_fg, .clock_bg {
    user-select: none;
}
