@import "@assets/css/globals";

.clock {
    position: relative;
    font-family: "Digital";
    font-size: $min-clock-font-size;
    margin-bottom: 20px;

    @media screen and (min-width: $extra-small) {
        font-size: $min-clock-font-size * 1.14285;
    }
}

.clock_fg {
    position: relative;
    display: inline-block;
    z-index: 1;
    color: $red1;
    text-shadow: 0 0 20px $red3;
}

.clock_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    user-select: none;
    color: $red2;
}
