<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Set the hour and minute, then hit play">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alarm Clock</title>
        <link rel="icon" href="<%= htmlWebpackPlugin.files.favicon %>" type="image/x-icon" />
        <!-- @@Todo: Maybe use handlebars for this? -->
        <%= htmlWebpackPlugin.files.css.map(href =>
            '<link href="' + href + '" rel="stylesheet">'
        ).join('\n') %>
    </head>
    <body>
        <div id="root"></div>
        <!-- @@Todo: Maybe use handlebars for this? -->
        <%= htmlWebpackPlugin.files.js.map(href =>
            '<script type="text/javascript" src="' + href + '"></script>'
        ).join('\n') %>
    </body>
</html>
