@import "@assets/css/globals";

$button-height: $alarm-width * 0.16;
$icon-height:   $alarm-width * 0.0654;

html, body {
    height: 100%;
    font-size: 62.5%;
}

#root {
    height: 100%;
}

@font-face {
    font-family: "Digital";
    src: url("@assets/fonts/digital.ttf") format("truetype");
    font-display: swap;
}

.button {
    @include arm-button-press-transition("border-color, box-shadow, fill");

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: $button-height;
    text-align: center;
    background: black;
    border-width: 3px;
    border-style: solid;
    user-select: none;
    touch-action: none;

    border-color: $foreground-color-1;
    box-shadow: shadow-values(inset);
    fill: $foreground-color-1;
}

.button_icon {
    height: $icon-height;
}
